{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta  charset="UTF-8" name="viewport" content=" initial-scale= 0.6">
    <title>Welcome Home!</title>
    <link rel="stylesheet" href="{% static 'docma_static/doc_viewer_style.css' %}">

</head>
<body class="page">
<div class="nav-bar">

<div class = "home">
    <a href = '/Jarvis/'>Home /</a>
    <a href = '/doccat/'>Document Category</a>

</div>
<!--<a class = 'nav-bar-text' href="https://www.example.com" >Home</a>-->
    <div class = "filter-bar">
    <form method="POST" action = '/docviewer/{{url}}/' >
        {% csrf_token %}
        <a>Doc Holder:</a>
       <select name = 'holder_name'>
           <option value={{select}}>{{select}}</option>
           {% for i in holder %}
           {% if i.Holder != select %}
                <option value="{{i.Holder}}">{{i.Holder}}</option>
           {% endif %}
           {% endfor %}

           {% if select != 'All_records' %}
                <option value=All_records>All records</option>
            {% endif %}

       </select>
        <input type = 'submit' value="Apply Filters">
     </form>
    </div>

</div>
{% for i in data %}
<div class = "imageholder" >

    <div class="info">&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp{{i.4}}&nbsp &nbsp &nbsp{{i.3}}</div>
        <img class = "pics" src= "{{i.2.url}}"  width="{{i.0}}" height="{{i.1}}">
        {% if i.5 != 'default.png'%}
        <img class = "pics" src= "{{i.5.url}}"  width="{{i.0}}" height="{{i.1}}">
        {% else %}
        {% endif %}
    </div>
{% endfor %}
</body>
</html>