{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Heads up..</title>
	 <link rel = "stylesheet" href= "{% static 'jarvis.css' %}">
	 <link rel = "stylesheet" href= "{% static 'assets/js/heads_up_js.js' %}">

</head>

<body>

<div class = "full">



<div class = "main" >
	<div class = "myCircle" >

		<div class = "mainCircle" >


<div class="wing">
    <img class="leftwing" src="{% static 'assets/images/general_wing.png' %}"  alt=""
		 width="800px" height="800px">
	<div class = leftwingtext>
		WebMar 30, 2017 · Opacity will make <br>everything in the div transparent to 50%,
		RGBA will just fade what he wants. For <br>full control over which<br> elements are transparent and which are …
Reviews: 3<br>
9
Using css3: #divid { -moz-border-radius: 15px; <br>-webkit-border-radius: 15px; border-radius:<br> 15px; } You can read more about it here:
		</div>
</div>
		<div class = "circle"></div>
		<div class = "circle1"  id = "S1"></div>
		<div class = "mainContent">

		<ul class = "bars"  id = 'S2'>
		<li id = 'B1'></li>

		<li id = 'B2' ></li>
		<li id = 'B3' ></li>
		</ul>

			<div class="fwingf">
				<img  src= "{% static 'assets/images/f_wing.png' %}" alt="" srcset="">
			<div class="fwingtext">
<!--				<h1>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h1>-->

				<h1 style="color: orange;

					"> &nbsp; &nbsp; Monthly &nbsp; ₹ Analysis</h1>
				{% for i in dem_monthly %}

				{% if i.type == 'Sent' %}
					<h1 style="color:#FF5F1F;"> &nbsp;Total ₹'s sent  : {{ i.total_amount }} /-</h1>
				{% endif %}

				{% if i.type == 'Received' %}
					<h1>&nbsp;Total ₹'s received : {{ i.total_amount }} /-</h1>
				{% endif %}


				{% endfor %}

				{% for i in dem_category %}
					{% if i.primaryCat == 'Food&Drinks' %}
						<h1 style="color:#FF5F1F;"> &nbsp; &nbsp;₹'s Food&Drinks : {{ i.total_amount }} /-</h1>
					{% endif %}
				{% endfor %}

				<a href="/Dem/Main/">
					<img  class="moneyicon" src= "{% static 'assets/images/rupee.png' %}" alt="" srcset=""
				width="100px">
				</a>



		</div>

</div>
		<div class ="chatbar"><textarea id="convert_text"></textarea>
		<button type="button" id="speak"><img  class="mic" src="{% static 'assets/images/micc.png' %}" width="120px" ></button>
		</div>

		</div>
	</div>
	</div>
</div>


</div>



<script scr = "{% static 'assets/js/heads_up_js.js'%}" >

if (10 < 18) {
document.getElementById("B1").style.animation = "loaderbar 0.6s infinite 0s";
document.getElementById("B2").style.animation = "loaderbar 0.6s infinite -0.3s";
document.getElementById("B3").style.animation = "loaderbar 0.6s infinite 0.5s";
}
search_text = "avi";
document.getElementById("S1").style.animation = "spinplusoff 5s infinite";
convert_text.innerHTML = "Ask something!!";



speak.addEventListener('click', function(){
var speech = true;
console.log("IAM THE BEST");

window.SpeechRecognition = window.webkitSpeechRecognition;
const recognition = new SpeechRecognition();
recognition.interimResults = true;

recognition.addEventListener('result', e=>{

  const transcript = Array.from(e.results)

.map(result =>result[0])

.map(result => result.transcript)

convert_text.innerHTML = transcript;
search_text = transcript;
console.log("search_text : ");
console.log(search_text);
console.log("transcript loging");
console.log(transcript);

})
speaki(search_text);
if(speech == true)
{ recognition.start();
console.log("speech true")
}
console.log("iam");
})

console.log("befor st");
console.log(search_text);

function speaki(key)
{
console.log("befor in");
console.log(search_text);
 let newsabout = key;
 let newsline =
 "https://newsdata.io/api/1/news?apikey=pub_1970417c41a9dca55a519738fa0e3003ca26d&q=musk&language=en";
   //  const news =
    //`https://newsdata.io/api/1/news?apikey=pub_1970417c41a9dca55a519738fa0e3003ca26d&q=&language=en`;
 //headnews.innerHTML ="fetching data on "+newsabout;
     // Calling the API
      fetch(newsline)
        .then((responsea) => {
          return responsea.json();
        })
        .then((dataa) => {
          console.log(dataa);
          console.log(dataa.results[0]['title']);
          let news ="1. "+dataa.results[1]['title']+"<br>"+
          "<br>"+"2. "+dataa.results[0]['title'];

          const utterance = new SpeechSynthesisUtterance(news);
utterance.pitch = 1;
utterance.volume = 1;
utterance.rate = 1;
speechSynthesis.speak(utterance);

          });
}



</script>


</body>
</html>






