.page{
background-color : #383839;



background-size: 1200px 800px;
}
.page1{
background-color : black;

background-size: 1200px 800px;
}
.logo{
padding :0px;
margin : 0px;
}

.info{

height:30px;
background-color:grey;
margin:0px;
color:gold;
display:flex;
justify-content :left;
align-items:center;
border-radius:30px;
#border:1px solid gold;


}
.imageholder{

}

.card{
width : 110px;
height : 130px;
margin-top:30px;
margin-left:30px;

padding : 15px;
background-color:#484848;
border-radius: 20px;
box-shadow : 0 0 30px 	#181818;
border:1px solid gold;
}
.image{

margin-top:15px

}
.image1{
height:80px;
margin-top:15px

}
.card:hover{
transform : scale(1.03);
box-shadow : 0 0 10px #ffffcc;
}
.text{

color:	 #cccc00;
}
a {
text-decoration : none;
color:gold;
}
.set{
display:flex;}

.pics{
background-color:grey;
margin:15px;
border-radius : 25px;
#border:1px solid orange;
box-shadow : 0 0 50px 	#181818;
}


.filter-bar  {
background-color : #7393B3 ;
border-radius: 10px;
width : 320px;
padding:5px;

}


.filter-bar input , select , a {
border-radius: 6px;
padding:5px;
margin-left: 10px;
font-weight: bold ;
}
.filter-bar a{
color:white;
}


.nav-bar{
display:flex;
background-color: #36454F;
margin:10px;
padding: 10px;
border-radius: 10px;
justify-content :right;
padding-right:180px;
}
